* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.event-page-container {
  display: flex;
  flex-direction: column;
  width: 428px;
  position: relative;
}

.page-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-size: cover;
  width: 428px;
  height: 585px;
  background-position: center;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.page-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
}

.page-back {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 32px;
  border: none;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  background-color: rgba(255, 255, 255, 0.1);
}

.back-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-title {
  margin-top: 33px;
  margin-left: 134px;
}

.event-page-details {
  margin-left: 16px;
  color: #fff;
  position: relative;
  top: 360px;
}

.event-page-price {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.pageprice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #2c2c2c;
  border-radius: 23px;
  width: 76px;
  height: 33px;

  margin-right: 17px;
}

.page-specification {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.bg {
  border-radius: 32px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  background-color: rgba(255, 255, 255, 0.1);
}
.calendar-bg img {
  width: 24px;
  height: 24px;
}

.date-time {
  display: flex;
  justify-content: space-between;
  color: white;
}

.spacer {
  margin: 0 20px;
}

.page-location {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.page-ticket {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.page-about {
  position: relative;
  top: 360px;
  margin-left: 16px;
  color: #fff;
  font-family: Open Sans;
}

.page-about-title {
  margin-bottom: 8px;
}

.order-ticket {
  height: 48px;
  width: 396px;
  margin-bottom: 32px;
  background-color: #026cdf;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-weight: normal;
  flex-shrink: 0;
}

@media screen and (min-width: 1280px) {
  .event-page-container {
    width: 100%;
  }
  .page-background {
    width: 100%;
  }
  .page-head {
    margin-left: 190px;
  }
  .event-page-details {
    margin-left: 190px;
    margin-right: 190px;
  }
  .pageprice {
    margin-right: 0px;
  }
  .page-about {
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    align-items: center;
  }
  .page-about-title {
    font-size: 18px;
    line-height: 24px;
  }
  .spacer {
    rotate: 90deg;
    width: 0px;
    height: 10px;
  }
  .pageweb {
    display: flex;
  }
  .date-time {
    flex-direction: row;
    align-items: center;
  }
  .roww {
    display: flex;
    flex-direction: row;
  }
  .page-specification {
    margin-right: 60px;
    align-items: center;
  }
  .page-title {
    margin-left: 386px;
  }
}
