main h3 {
  color: white;
  font-size: 18px;
  font-family: Open Sans, "SemiBold";
  margin-top: 16px;
  margin-bottom: 16px;
}

.suggested-tittle {
  margin-left: 16px;
}

.suggested-card {
  display: flex;
  scroll-behavior: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.category {
  display: flex;
}

.upcoming-events {
  margin-left: 16px;
}

.upcoming-events-text {
  margin: 0;
  color: #cccccc;
  width: 119px;
  height: 20px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
}

.events-card {
  margin-top: 24px;
}
