* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  margin-left: 16px;
}

.suggested-title {
  color: white;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}
.suggested-card {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.upcoming-title {
  color: #fff;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

.category {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}

.sub-text {
  color: #cccccc;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  margin-bottom: 24px;
}
