* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-description {
  font-weight: normal;
  line-height: 22px;
  margin-right: 27px;
  margin-bottom: 55px;
}

@media screen and (min-width: 1280px) {
  .about-description {
    margin-bottom: 0px;
    width: 100%;
    margin-right: 33px;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
  }
}
