* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  color: #fff;
  width: 396px;
  height: 328px;
  border-radius: 5px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1280px) {
  .event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 100%;
    height: 141px;
    border-radius: 5px;
    margin-bottom: 16px;
    background-color: #1e1d23;
  }
}

.event-background {
  width: 396px;
  height: 328px;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .event-background {
    width: 404px;
    height: 141px;
    left: 0;
    background-size: cover;
    background-position: center top -50px;
    position: absolute;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(to right, black, transparent 95%);
  }
}
.event-date {
  margin-left: 334px;
  margin-top: 10px;
  margin-right: 16px;
  padding: 7px 11px;
  font-family: Open Sans;
  width: 46px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 23px;
  background: transparent linear-gradient(135deg, #2c2c2c66 0%, #72727200 100%)
    0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media screen and (min-width: 1280px) {
  .event-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 96px;
    height: 36px;
    padding: 7px 23px;
    position: relative;
    top: 85px;
    margin-top: 0px;
    background-color: black;
  }
}

.date {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
}
.month {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
}

.event-price {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 202px;
  right: 16px;
  border-radius: 23px;
  height: 36px;
  width: 76px;
  background-color: #fff;
}

@media screen and (min-width: 1280px) {
  .event-price {
    top: 53px;
    right: 32px;
    width: 82px;
    font-size: 16px;
  }
}

.event-content {
  background-color: linear-gradient(
    to bottom,
    rgba(44, 44, 44, 0.4),
    rgba(114, 114, 114, 0)
  );
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 110px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding-left: 16px;
}

@media screen and (min-width: 1280px) {
  .event-content {
    position: absolute;
    top: 0px;
    left: 340px;
    background-color: initial;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    width: 100%;
    padding-left: 0px;
  }
}

.title {
  margin-top: 28px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 20px;
  }
}

.location-time {
  display: flex;
  margin-bottom: 28px;
}

@media screen and (min-width: 1280px) {
  .location-time {
    font-size: 16px;
    line-height: 13px;
    margin-bottom: 8px;
  }
}
