.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-name {
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 27px;
}

.navbar-profile {
  display: flex;
  flex-direction: row;
}

.profile-name {
  font-family: Open Sans, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  margin-top: 28px;
  margin-bottom: 27px;
  margin-right: 8px;
  line-height: 22px;
}

.profile-img {
  margin-top: 24px;
  margin-right: 16px;
  margin-bottom: 24px;
  width: 29px;
  height: 29px;
  border-radius: 57px;
}
