* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
}
.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 396px;
  height: 48px;
  background-color: #1e1d23;
  border-radius: 5px;
  margin-bottom: 16px;
}

.search-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  margin: 12px 10px 12px 16px;
  width: 24px;
  height: 24px;
}

.search-input {
  color: #6b6a6e;
  background-color: #1e1d23;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 13px;
  margin-bottom: 13px;
  border: none;
  outline: none;
}

.search-filter {
  width: 24px;
  height: 24px;
  margin: 12px 16px 12px 0px;
}

@media screen and (min-width: 1280px) {
  .search-box {
    width: 565px;
    align-items: center;
  }
}
