.search-box {
  display: flex;
  width: 396px;
  height: 48px;
  
  margin-right: 16px;
  background-color: #1e1d23;
  border-radius: 5px;
}

/* Search Content , Icon , Search Text , Filter */
.search-content {
  display: flex;
  width: 396px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

/* Search . Icon and Search text */
.search-icon {
  display: flex;
  align-items: center;
}

/* Search Icon */
.search-icon img {
  color: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Search Text */
.search-icon input {
  color: #6b6a6e;
  background-color: #1e1d23;
  width: 138px;
  height: 22px;
  font-size: 16px;
  padding: 1px 0px;
  border: none;
  outline: none;
}

/* Search Filter */
.search-filter img {
  color: white;
  width: 24px;
  height: 24px;
}
